/*  Color  */
html:root {
  --white: #f8f8f8;
  --black: #282323;
  --disabled: #d8d0d0;
  --primary: #0040ff;
  --secondary: #ffec44;
}
/*  Reset  */
html, body, header, main, footer, nav, aside, section, div,
span, ul, ol, li, p, a, h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: relative;
}

div.wrapper {
  height: 100%;
  width: auto;
}

body {
  background-color: var(--white);
  letter-spacing: 0.03em;
}